<% provide(:title, 'Create New User') %>

<ul>
  <% @view_err_message.each do |msg|%>
      <li>
        <%= msg %>
      </li>
  <%end%>
</ul>
<h1>Создание нового пользователя</h1>
<p>
  <%= form_tag(users_path, {name: 'user_new_form', id: 'user_new_form', method: :post}) do %>
    <%= render "user" %>
    <p><a href='http://127.0.0.1:3000/users/index'><button>Отмена</button></a>
    <%= submit_tag("Создать") %></p>
  <% end %>
</p>
