<% provide(:title, 'Home') %>


<h1>Добро пожаловать</h1>
<p>
<table border="1">
  <tbody>
  <% @links.each do |url|%>
      <tr>
        <td><<%= link_to url.name, controller: url.controller %></td>
      </tr>
  <%end%>
  </tbody>
</table>
</p>
