<% provide(:title, 'User') %>


<h1>Список всех зарегистрированных пользователей</h1>
<p>
  <table border="1">
    <thead>
      <tr>
        <th>User Name</th>
        <th>User Password</th>
        <th>User Type</th>
      </tr>
    </thead>
    <tbody>
      <% @user.each do |usr|%>
        <tr>
          <td><%= usr.user_name %></td>
          <td><%= usr.user_password %></td>
          <td><% if usr.is_admin?%>
                  Admin
                <%else%>
                  User
                <%end%>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

</p>