<% provide(:title, 'User') %>


<h1>Список всех зарегистрированных пользователей</h1>
<p>
  <table border="1">
    <thead>
      <tr>
        <th>User Name</th>
        <th>User Password</th>
        <th>User Centr Name</th>
        <th>User Type</th>
      </tr>
    </thead>
    <tbody>
      <% @hash.each do |usrs|%>
        <tr>
          <td><%= usrs[:usr_name] %></td>
          <td><%= usrs[:usr_password] %></td>
          <td><%= usrs[:usr_centr_name] %></td>
          <td><%= usrs[:usr_type] %>
          </td>
        </tr>
      <%end%>
    </tbody>
  </table>

</p>