<% provide(:title, 'User') %>


<h1>Список всех зарегистрированных пользователей</h1>
<p>
<%=
  User.find_each do |user|
      puts (user.user_name ' | ' user.user_password ' | ' user.user_type_id ' | ' user.created_at)
    end
%>
</p>