<% provide(:title, 'Create New User') %>

<h1>Создание нового пользователя</h1>
<p>
  <%= form_tag(users_path, {name: 'user_new_form', id: 'user_new_form', method: :post}) do %>
    <%= render "user" %>
    <p><%= submit_tag("Создать") %></p>
  <% end %>
</p>
